
body {
    font-family: sans-serif;
}



#title {
    background-color: #ff4c68;
    color: white;
}

.container-fluid {
    padding: 3% 5%;

}


h1 {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: sans-serif;
}

p {
    color: #8f8f8f;
}
/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 0px ;

}

.nav-link {
    font-size: 0.9rem;
    font-family: sans-serif

}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;

}

/* Title Image */

.title-image {
    width: 60%;
    transform: rotate(25deg);

}

/* Features Section */

#features {
    padding: 3% 15%;

}

.feature-box {
    text-align: center;
    padding: 2%;

}

.icon {
    color: #ef8172;
    margin-bottom: 1rem ; 
}

.icon:hover {
    color: #ff4c68;
}